#Archivos de configuracion local o especificos del usuario
private.properties

#Archivos y directorios del sistema operativo 
.DS_Store
Thumbs.db

#Archivos temporales
*.tmp
*.bak
*.swp
*.swo
*~

#Archivos de paquetes
*.jar
*.war
*.ear
*.zip
*.tar.gz
.rar

#Archivos especificos de NetBeans
/JFXGestionFarmacia/nbproject/Makefile-.mk
/JFXGestionFarmacia/nbproject/Package-*.bash
/JFXGestionFarmacia/nbproject/build-impl.xml

/JFXGestionFarmacia/nbproject/private

dist/
